.loginPage {
  height: 100vh;
  background: url('../../assets/images/bg_login.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 600px;

  .card {
    max-width: 600px;
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 0px solid #000000;
    -webkit-box-shadow: -1px -1px 0px -200px rgba(248, 248, 248, 1);
    -moz-box-shadow: -1px -1px 0px -200px rgba(248, 248, 248, 1);
    box-shadow: -1px -1px 0px -200px rgba(248, 248, 248, 1);
  }
  .cardContent {
    display: flex;
  }
  .cardAction {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}
