// Override default variables before the import
// $body-bg: #000;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import './shared.scss';
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8f8f8;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
